<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <%= link_to root_path, class: 'logo d-flex align-items-center', rel: 'nofollow' do %>
      <%= image_tag('logo.png', alt: 'Example Image') %>
      <span class="d-none d-lg-block">BookingApp</span>
    <% end %>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div>
  <!-- End Logo -->
  <div class="search-bar">
    <%= form_with(url: '#', method: :post, class: 'search-form d-flex align-items-center') do %>
      <%= text_field_tag :query, nil, placeholder: 'Search', title: 'Enter search keyword' %>
      <%= button_tag(type: 'submit', title: 'Search') do %>
        <i class="bi bi-search"></i>
      <% end %>
    <% end %>
  </div>
  <!-- End Search Bar -->
  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item d-block d-lg-none">
        <a href="#" class="nav-link nav-icon search-bar-toggle">
          <i class="bi bi-search"></i>
        </a>
      </li>
      <!-- End Search Icon-->
      <li class="nav-item dropdown">
        <a href="#" class="nav-link nav-icon" data-bs-toggle="dropdown">
          <i class="bi bi-bell"></i>
          <span class="badge bg-primary badge-number">4</span>
        </a>
        <!-- End Notification Icon -->
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
          <li class="dropdown-header">
            You have 4 new notifications
            <a href="#"> <span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="notification-item">
            <i class="bi bi-exclamation-circle text-warning"></i>
            <div>
              <h4>Lorem Ipsum</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>30 min. ago</p>
            </div>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="notification-item">
            <i class="bi bi-check-circle text-success"></i>
            <div>
              <h4>Sit rerum fuga</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>2 hrs. ago</p>
            </div>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="dropdown-footer">
            <a href="#">Show all notifications</a>
          </li>
        </ul>
        <!-- End Notification Dropdown Items -->
      </li>
      <!-- End Notification Icon -->
    </ul>
  </nav>
</header>
