<div class="card mb-3">
  <div class="card-body">
    <div class="pt-4 pb-2">
      <h5 class="card-title text-center pb-0 fs-4"><%= t("pages.login.title") %></h5>
      <p class="text-center small"><%= t("pages.login.text") %></p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'row g-3' }) do |f| %>
        <div class="col-12">
          <%= f.label :email, t('activerecord.attributes.user.email'), class: 'form-label', for: 'email' %>
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', id: 'email' %>
          <% if resource.errors[:email].present? %>
            <div class="error_message"><%= resource.errors.full_messages_for(:email).first %></div>
          <% end %>
        </div>
        <div class="col-12">
          <%= f.label :password, t('activerecord.attributes.user.password'), class: 'form-label', for: 'password' %>
          <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', id: 'password' %>
          <% if resource.errors[:password].present? %>
            <div class="error_message"><%= resource.errors.full_messages_for(:password).first %></div>
          <% end %>
        </div>
        <div class="col-12">
          <div class="form-check">
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me, class: 'form-check-input',  name: 'remember_me' %>
                <%= f.label :remember_me, t('components.checkbox.remember_me'), class: 'form-check-label', for: 'remember_me' %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-12">
          <%= f.submit t('components.button.log_in'),  class: 'btn btn-primary w-100' %>
          <% if flash[:alert].present? %>
            <div class="error_message">
              <%= flash[:alert] %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="col-12">
        <hr>
        <p class="mb-2">
          <%= t('shared.account_question')%>
          <%= render "devise/shared/links" %>
        </p>
      </div>
    </div>
  </div>
</div>
