<p><%= t('email.welcome_message', email: @email) %></p>


<p><%= t('email.reset_password.password_change_request') %></p>

<p><%= link_to t('email.reset_password.change_password_link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('email.reset_password.ignore_request') %></p>
<p><%= t('email.reset_password.password_not_changed') %></p>
