<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container justify-content-between">
    <div class="row">
      <div class="col-12 d-flex justify-content-between align-items-center">
        <div class="logo d-flex align-items-center">
          <%= link_to root_path,  rel: "nofollow" do %>
            <%= image_tag("logo.png", alt: "Example Image") %>
          <% end %>
          <span class="logotext">BookingApp</span>
        </div>
        <%= render "layouts/navbar" %>
        <div class="search-bar">
          <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="<%= t("layouts.header.title_search") %>" title="<%= t("layouts.header.title_search") %>">
            <button type="submit"><i class="bi bi-search"></i></button>
          </form>
        </div>
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav">
                <!-- Example with link_to -->
                <ul class="navbar-nav">
                  <% if user_signed_in? %>
                    <li class="nav-item">
                      <%= button_to t("layouts.header.log_out"), destroy_user_session_path, class: 'nav-link', method: :delete %>
                    </li>
                  <% else %>
                    <li class="nav-item">
                      <%= link_to t("layouts.header.log_in"), new_user_session_path, class: 'nav-link' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to t("layouts.header.sign_up"), new_user_registration_path, class: 'nav-link' %>
                    </li>
                  <% end %>
                </ul>
                <li class=" dropdown pe-3">
                  <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-translate"></i>
                  </a><!-- End Notification Icon -->
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li>
                      <%= link_to({ locale: 'vi' }, class: 'dropdown-item d-flex align-items-center') do %>
                        <img src="https://tienichhay.net/uploads/flags/flat/24x24/vn.png" alt="VietNam Flag">
                        <span style="padding-left: 2px"><%= t("layouts.header.language.vn") %></span>
                      <% end %>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <%= link_to({ locale: 'ja' }, class: 'dropdown-item d-flex align-items-center') do %>
                        <img src="https://tienichhay.net/uploads/flags/flat/24x24/jp.png" alt="Japan Flag">
                        <span style="padding-left: 2px"><%= t("layouts.header.language.ja") %></span>
                      <% end %>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <%= link_to({ locale: 'en' }, class: 'dropdown-item d-flex align-items-center') do %>
                      <img src="https://tienichhay.net/uploads/flags/flat/24x24/gb.png" alt="English Flag">
                      <span style="padding-left: 2px"><%= t("layouts.header.language.en") %></span>
                    <% end %>
                  </ul>
                  <!-- End Profile Dropdown Items -->
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
