<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Rails App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Reference the favicon.ico directly from the public directory -->
    <%= favicon_link_tag asset_path("logo.png") %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <main id="main" class="main container" style="height: 4000px">
      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
