<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Rails App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Reference the favicon.ico directly from the public directory -->
    <%= favicon_link_tag asset_path("logo.png") %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <main id="main" class="main container" style="height: 4000px">
      <%= raw toastr_flash %>
      <%= yield %>
      <div class="alert alert-secondary">
        <%= debug(params) if Rails.env.development? %>
      </div>
    </main>
  </body>
</html>
